<div class="row">
    <div class="form-group col-md-12 has-feedback">
        <% if ( data["iframepath"] == undefined || data["iframepath"].length == 0 ) { %>
        <label>Selector</label>
        <% } else { %>
        <label>Selector (iframe)</label>
        <% } %>
        <input data-eid="selector" class="form-control" value="<%= _.escape(data['selector']) %>" />
        <span data-eid="find-selector" class="glyphicon glyphicon-zoom-in form-control-feedback" aria-hidden="true"></span>
    </div>
</div>