<div id="edit-top-panel">
    <button data-type="hide" class="btn btn-default pull-right"><i class="fa fa-times"></i></button>
</div>
<br/><br/>
<div class="row">
    <div class="form-group col-md-12">
        <label>Action</label>
        <select data-eid="actions-list" class="form-control">
            <option value=""           > </option>
            <option value="click"      >click</option>
            <option value="dblclick"   >double click</option>
            <option value="mousedown"  >mousedown</option>
            <option value="mouseup"    >mouseup</option>
            <option value="type"       >type</option>
            <option value="change"     >change</option>                        
            <option value="open"       >open</option>
            <option value="wait"       >wait</option>
            <option value="waitForSelector">waitForSelector</option>
            <option value="waitFor"    >waitFor</option>
            <option value="sendKeys"   >sendKeys</option>            
            <option value="reload"     >reload page</option>
            <option value="assertEval" >assertEval</option>
            <option value="assertTitle">assertTitle</option>
            <option value="assertCount">assertCount</option>
        </select>        
    </div>
</div>

<div class="row">
    <div class="form-group col-md-12" style="display:none;">
        <label>Raw action (custom action name)</label>
        <input data-eid="raw-action" class="form-control" value="<%= data['command'] %>" />
    </div>
</div>

<div data-eid="action-properties"></div>

<div class="row">
    <div class="form-group col-md-12">
        <% if ( data["id"] != undefined ) { %>
        <button data-eid="update-command" class="btn btn-default">Update</button>
        <% } else { %>
        <button data-eid="add-command" class="btn btn-default">Add</button>
        <% } %>
    </div>    
</div>