<div id="edit-top-panel">
    <button data-type="hide" class="btn btn-default pull-right"><i class="fa fa-times"></i></button>
</div>
<br/>
<div class="row">
    <div class="form-group col-md-12">
        <label>Action</label>
        <select data-eid="actions-list" class="form-control">
            <option value=""           > </option>
            <option value="click"      >click</option>
            <option value="type"       >type</option>
            <option value="change"     >change</option>
            <option value="assertEval" >assertEval</option>
            <option value="open"       >open</option>
        </select>        
    </div>
</div>
<% if ( data["command"] == "assertEval" ) { %>
<div class="row">
    <div class="form-group col-md-12">
        <label>Assert name</label>
        <input data-eid="assert-name" class="form-control" value="<%= data['name'] %>" />
    </div>
</div>
<div class="row">    
    <div class="form-group col-md-12">
        <label>Assert code (F11 - fullscreen)</label>
		<textarea data-eid="codemirror" cols="30" rows="10"></textarea>
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="form-group col-md-12">
        <label>Selector</label>
        <input data-eid="selector" class="form-control" value="<%= data['selector'] %>" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label>Value</label>
        <input data-eid="value" class="form-control" value="<%= data['value'] %>" />
    </div>
</div>
<% } %>
<div class="row">
    <div class="form-group col-md-12">
        <% if ( data["id"] != undefined ) { %>
        <button data-eid="update-command" class="btn btn-default">Update</button>
        <% } else { %>
        <button data-eid="add-command" class="btn btn-default">Add</button>
        <% } %>
    </div>    
</div>